
*::before,*,*::after{
    box-sizing: border-box;
}
body{
    /* background:  #fab2b2; */
    background-size: cover;
    color:black;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
}


.centrar-texto{
    text-align: center;
    font-weight: bold;
}
.container{
    margin: 3.1rem auto 0 auto;
    width: 600px;
}
@media (min-width: 200px) {
    .container{
        max-width: 500px;
    }

}

h1{
    font-weight: 400;
    line-height: 1.2;
}   

.btn{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #cec0fc;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.btn:hover{
    background: #000;
    color: #fff;
}
img{ /*width: 100px; */
    height: 100px;

}
.feo{
    border-color: blue;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 50px;
}

.to{
    width: 500px;
    height: 300px;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               






