<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla responsive</title>
    <link rel="stylesheet" href="../css/style copy 2.css">
</head>
<body>
<table id="mitabla">
  <tr>
    <th>Tema</th>
</tr>
<tr>
    <th>Es todo estado energetico agresivo que tiene lugar en el medio ambiente, los mas notables son los q se relacionan 
      con el ruido vibraciones, calor, frio, iluminacion, ventilacion, presiones anormales, radiaciones,etc.
    </th>
</tr>
</table>
</body>
</html>