<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/style copy.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Poppins:wght@500&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>	
	<div class="box">
	
        <span style="--i:1;"><img src="../images/foto3.jpeg" alt=""></span>
        <span style="--i:2;"><img src="../images/foto2.jpeg" alt=""></span>
        <span style="--i:3;"><img src="../images/foto1.jpeg" alt=""></span>
        <span style="--i:4;"><img src="../images/foto1.jpeg" alt=""></span>
        <span style="--i:5;"><img src="../images/foto2.jpeg" alt=""></span>
        <span style="--i:6;"><img src="../images/foto3.jpeg" alt=""></span>
        <span style="--i:7;"><img src="../images/foto3.jpeg" alt=""></span>
		<span style="--i:8;"><img src="../images/foto2.jpeg" alt=""></span>

    </div>
	
</body>

</html>
</body>
</html>
