<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Mooli&family=Mukta:wght@300&family=Poppins:wght@500&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/encuesta.css"> 
  <link rel="stylesheet" href="sweetalert2.min.css"> 
<title>ENCUESTA</title>
</head>
<body>
    
    <div class="container">  <fieldset class="feo">
        <legend> <img src="../icons/LOGO- SURTIDORA ESTRENO.png" alt="" class="imagen-responsive"></legend>
            <header class="header">
      <h1 class="centrar-texto" >ENCUESTA</h1>   
        <p class="header__descripcion centrar centrar-texto">ENCUESTA DE PERFIL SOCIODEMOGRAFICO Y MORBILIDAD SENTIDA</p>
        <p class="header__descripcion centrar centrar-texto"> CODIGO:  SST-F-22
          <br>  VERSION:  01
         <br>   FECHA ELABORACION:  10/02/2020
        </p>
      
    </header>
    <form class="formulario">
        <fieldset class="feo1">
        <div class="campo">
            <label for="nombre">NOMBRE:</label>
            <input type="text" id="nombre" name="nombre" placeholder="Escriba su nombre" required class="campo__input">
        </div>
        <div class="campo">
            <label for="cargo">CARGO:</label>
            <input type="text" id="cargo" name="cargo" placeholder="Escriba su cargo" required class="campo__input">
        </div>
        <div class="campo">
            <label for="cedula">CEDULA:</label>
            <input type="number" id="cedula" name="cedula" placeholder="numero de cedula" required class="campo__input">
        </div>
        <div class="campo" >
            <label for="fecha">FECHA ELABORACION:</label>
            <input type="date" id="fecha" name="fecha" placeholder="Escriba la fecha" required class="campo__input">
        </div>
    </fieldset>  
    <br>
    <fieldset class="feo1">  
<div class="casa">
    <div class="cas1">
    <div class="campo">
        <p>1. EDAD</p>
        <label for="edad_18_25" class="label1"><input type="radio"  id="edad_18_25" name="1. EDAD" class="campo__radio" value="18-25 años">18-25 años</label>
        <label for="edad_26_35" class="label1"><input type="radio" id="edad_26_35" name="1. EDAD" class="campo__radio" value="26-35 años">26-35 años</label>
        <label for="edad_36_45" class="label1"><input type="radio" id="edad_36_45" name="1. EDAD" class="campo__radio" value="36-45 años">36-45 años</label>
        <label for="edad_46" class="label1"><input type="radio" id="edad_46" name="1. EDAD" class="campo__radio" value="46 años o mas">46 años o mas</label>
    </div>
    
    <div class="campo">
        <p>2. ESTADO CIVIL</p>
        <label for="soltero" class="label1"><input type="radio" id="soltero" name="2. ESTADO CIVIL" class="campo__radio" value="Soltero (a)">Soltero (a)</label>
        <label for="union" class="label1"><input type="radio" id="union" name="2. ESTADO CIVIL" class="campo__radio" value="Union libre">Union libre</label>
        <label for="casado" class="label1"><input type="radio" id="casado" name="2. ESTADO CIVIL" class="campo__radio" value="Casado (a)">Casado (a)</label>
        <label for="divorciado" class="label1"><input type="radio" id="divorciado" name="2. ESTADO CIVIL" class="campo__radio" value="Divorciado (a)">Divorciado (a)</label>
    </div>
 </div>
 
</fieldset>
<br>
<fieldset class="feo1">
    <div class="casa2">
        <div class="campo">
            <p>3. SEXO</p>
            <label for="hombre" class="label1"><input type="radio" id="hombre" name="3. SEXO" class="campo__radio" value="Hombre">Hombre</label>
            <label for="mujer" class="label1"><input type="radio" id="mujer" name="3. SEXO" class="campo__radio" value="Mujer">Mujer</label>
        </div>
    
        <div class="campo">
            <p>4. NUMERO DE PERSONAS A CARGO</p>
            <label for="ninguna"class="label1"><input type="radio" id="ninguna" name="4. NUMERO DE PERSONAS A CARGO" class="campo__radio" value="Ninguna">Ninguna</label>
            <label for="1_3" class="label1"><input type="radio" id="1_3" name="4. NUMERO DE PERSONAS A CARGO" class="campo__radio" value="1-3 Personas">1-3 Personas</label>
            <label for="4_6" class="label1"><input type="radio" id="4_6" name="4. NUMERO DE PERSONAS A CARGO" class="campo__radio" value="4-6 Personas">4-6 Personas</label>
            <label for="mas" class="label1"><input type="radio" id="mas" name="4. NUMERO DE PERSONAS A CARGO" class="campo__radio" value="Mas de 6 Personas">Mas de 6 Personas</label>
        </div>
    </div>
</fieldset>
<br>
    <fieldset class="feo1">   
    <div class="casa3">
        <div class="campo">
            <p>5. NIVEL DE ESCOLARIDAD</p>
            <label for="primaria" class="label1"><input type="radio" id="primaria" name="5. NIVEL DE ESCOLARIDAD" class="campo__radio" value="Primaria">Primaria</label>
            <label for="secundaria" class="label1"><input type="radio" id="secundaria" name="5. NIVEL DE ESCOLARIDAD" class="campo__radio" value="Secundaria">Secundaria</label>
            <label for="tecnico" class="label1"><input type="radio" id="tecnico" name="5. NIVEL DE ESCOLARIDAD" class="campo__radio" value="Tecnico/Tecnologo">Tecnico/Tecnologo</label>
            <label for="universitario" class="label1"><input type="radio" id="universitario" name="5. NIVEL DE ESCOLARIDAD" class="campo__radio" value="Universitario">Universitario</label>
            <label for="ninguna_escolaridad" class="label1"><input type="radio" id="ninguna_escolaridad" name="5. NIVEL DE ESCOLARIDAD" class="campo__radio" value="Ninguna">Ninguna</label>
        </div>
    
        <div class="campo">
            <p>6. TENENCIA DE VIVENCIA</p>
            <label for="propia" class="label1"><input type="radio" id="propia" name="6. TENENCIA DE VIVENCIA" class="campo__radio" value="Propia">Propia</label>
            <label for="arrendada" class="label1"><input type="radio" id="arrendada" name="6. TENENCIA DE VIVENCIA" class="campo__radio" value="Arrendada">Arrendada</label>
            <label for="familiar" class="label1"><input type="radio" id="familiar" name="6. TENENCIA DE VIVENCIA" class="campo__radio" value="Familiar">Familiar</label>
            <label for="compartida" class="label1"><input type="radio" id="compartida" name="6. TENENCIA DE VIVENCIA" class="campo__radio" value="Compartida con otra(s) familia(s)">Compartida con otra(s) familia(s)</label>
        </div>
    </div>
</fieldset>  
<br>
<fieldset class="feo1">   
    <div class="casa4">
        <div class="campo">
            <p>7. USO DEL TIEMPO LIBRE</p>
            <label for="otro" class="label1"><input type="radio" id="otro" name="7. USO DEL TIEMPO LIBRE" class="campo__radio" value="Otro trabajo">Otro trabajo</label>
            <label for="labores" class="label1"><input type="radio" id="labores" name="7. USO DEL TIEMPO LIBRE" class="campo__radio" value="Labores domesticos">Labores domesticos</label>
            <label for="recreacion" class="label1"><input type="radio" id="recreacion" name="7. USO DEL TIEMPO LIBRE" class="campo__radio" value="Recreacion y deporte">Recreacion y deporte</label>
            <label for="estudio" class="label1"><input type="radio" id="estudio" name="7. USO DEL TIEMPO LIBRE" class="campo__radio" value="Estudio">Estudio</label>
            <label for="ninguno_tiempo_libre" class="label1"><input type="radio" id="ninguno_tiempo_libre" name="7. USO DEL TIEMPO LIBRE" class="campo__radio" value="Ninguno">Ninguno</label>
        </div>
    
        <div class="campo">
            <p>8. PROMEDIO DE INGRESOS (S.M.L.)</p>
            <label for="minimo" class="label1"><input type="radio" id="minimo" name="8. PROMEDIO DE INGRESOS (S.M.L.)" class="campo__radio" value="Minimo Legal (S.M.L.)">Minimo Legal (S.M.L.)</label>
            <label for="entre_1" class="label1"><input type="radio" id="entre_1" name="8. PROMEDIO DE INGRESOS (S.M.L.)" class="campo__radio" value="Entre 1 a 2 S.M.L.">Entre 1 a 2 S.M.L.</label>
            <label for="entre_3" class="label1"><input type="radio" id="entre_3" name="8. PROMEDIO DE INGRESOS (S.M.L.)" class="campo__radio" value="Entre 3 a 4 S.M.L.">Entre 3 a 4 S.M.L.</label>
            <label for="mas_5" class="label1"><input type="radio" id="mas_5" name="8. PROMEDIO DE INGRESOS (S.M.L.)" class="campo__radio" value="Mas de 5 S.M.L.">Mas de 5 S.M.L.</label>
        </div>
    </div>
</fieldset>
<br>  
<fieldset class="feo1">    
    <div class="casa5">
        <div class="campo">
            <p>9. ANTIGUEDAD EN LA EMPRESA</p>
            <label for="menos" class="label1"><input type="radio" id="menos" name="9. ANTIGUEDAD EN LA EMPRESA" class="campo__radio" value="Menos de un mes">Menos de un mes</label>
            <label for="1_6" class="label1"><input type="radio" id="1_6" name="9. ANTIGUEDAD EN LA EMPRESA" class="campo__radio" value="De 1 a 6 meses">De 1 a 6 meses</label>
            <label for="7_11" class="label1"><input type="radio" id="7_11" name="9. ANTIGUEDAD EN LA EMPRESA" class="campo__radio" value="De 7 a 11 meses">De 7 a 11 meses</label>
            <label for="1_2" class="label1"><input type="radio" id="1_2" name="9. ANTIGUEDAD EN LA EMPRESA" class="campo__radio" value="De 1 a 2 años">De 1 a 2 años</label>
            <label for="mas_2" class="label1"><input type="radio" id="mas_2" name="9. ANTIGUEDAD EN LA EMPRESA" class="campo__radio" value="Mas de 2 años">Mas de 2 años</label>
        </div>
    
        <div class="campo">
            <p>10. ANTIGUEDAD EN EL CARGO ACTUAL</p>
            <label for="menos_" class="label1"><input type="radio" id="menos_" name="10. ANTIGUEDAD EN EL CARGO ACTUAL" class="campo__radio" value="Menos de un mes">Menos de un mes</label>
            <label for="1_6_" class="label1"><input type="radio" id="1_6_" name="10. ANTIGUEDAD EN EL CARGO ACTUAL" class="campo__radio" value="De 1 a 6 meses">De 1 a 6 meses</label>
            <label for="7_11_" class="label1"><input type="radio" id="7_11_" name="10. ANTIGUEDAD EN EL CARGO ACTUAL" class="campo__radio" value="De 7 a 11 meses">De 7 a 11 meses</label>
            <label for="1_2_" class="label1"><input type="radio" id="1_2_" name="10. ANTIGUEDAD EN EL CARGO ACTUAL" class="campo__radio" value="De 1 a 2 años">De 1 a 2 años</label>
            <label for="mas_2_" class="label1"><input type="radio" id="mas_2_" name="10. ANTIGUEDAD EN EL CARGO ACTUAL" class="campo__radio" value="Mas de 2 años">Mas de 2 años</label>
        </div>
    </div>
</fieldset>
<br>   
<fieldset class="feo1"> 
    <div class="casa6">
        <div class="campo">
            <p>11. HA PARTICIPADO EN ACTIVIDADES DE SALUD REALIZADAS POR LA EMPRESA</p>
            <label for="vacunacion" class="label1"><input type="radio" id="vacunacion" name="11. HA PARTICIPADO EN ACTIVIDADES DE SALUD REALIZADAS POR LA EMPRESA" class="campo__radio" value="Vacunacion">Vacunacion</label>
            <label for="salud_oral" class="label1"><input type="radio" id="salud_oral" name="11. HA PARTICIPADO EN ACTIVIDADES DE SALUD REALIZADAS POR LA EMPRESA" class="campo__radio" value="Salud Oral">Salud Oral</label>
            <label for="examenes_laboratorio" class="label1"><input type="radio" id="examenes_laboratorio" name="11. HA PARTICIPADO EN ACTIVIDADES DE SALUD REALIZADAS POR LA EMPRESA" class="campo__radio" value="Examenes de laboratorio y otros">Examenes de laboratorio y otros</label>
            <label for="examenes_medicos_anuales" class="label1"><input type="radio" id="examenes_medicos_anuales" name="11. HA PARTICIPADO EN ACTIVIDADES DE SALUD REALIZADAS POR LA EMPRESA" class="campo__radio" value="Examenes medicos anuales">Examenes medicos anuales</label>
            <label for="ninguno_salud" class="label1"><input type="radio" id="ninguno_salud" name="11. HA PARTICIPADO EN ACTIVIDADES DE SALUD REALIZADAS POR LA EMPRESA" class="campo__radio" value="Ninguno">Ninguno</label>
        </div>
    
        <div class="campo">
            <p>12. LE HAN DIAGNOSTICADO ALGUNA ENFERMEDAD</p>
            <label for="si_enfermedad" class="label1"><input type="radio" id="si_enfermedad" name="12. LE HAN DIAGNOSTICADO ALGUNA ENFERMEDAD" class="campo__radio" value="Si">Si</label>
            <label for="no_enfermedad" class="label1"><input type="radio" id="no_enfermedad" name="12. LE HAN DIAGNOSTICADO ALGUNA ENFERMEDAD" class="campo__radio" value="No">No</label>
            <p>CUAL:</p>
            <textarea name="cual_enfermedad" class="campo__textarea" id="textarea_cual_enfermedad" rows="1"></textarea>
        </div>
    </div>
</fieldset>
<br>   
<fieldset class="feo1"> 
    <div class="casa7">
        <div class="campo">
            <p>13. CONSUME BEBIDAS ALCOHOLICAS</p>
            <label for="si_alcohol" class="label1"><input type="radio" id="si_alcohol" name="13. CONSUME BEBIDAS ALCOHOLICAS" class="campo__radio" value="Si">Si</label>
            <label for="no_alcohol" class="label1"><input type="radio" id="no_alcohol" name="13. CONSUME BEBIDAS ALCOHOLICAS" class="campo__radio" value="No">No</label>
            <p>Frecuencia:</p>
            <label for="semanal" class="label1"><input type="radio" id="semanal" name="Frecuencia_alcohol" class="campo__radio" value="Semanal">Semanal</label>
            <label for="quincenal" class="label1"><input type="radio" id="quincenal" name="Frecuencia_alcohol" class="campo__radio" value="Quincenal">Quincenal</label>
            <label for="mensual" class="label1"><input type="radio" id="mensual" name="Frecuencia_alcohol" class="campo__radio" value="Mensual">Mensual</label>
            <label for="ocasional" class="label1"><input type="radio" id="ocasional" name="Frecuencia_alcohol" class="campo__radio" value="Ocasional">Ocasional</label>
        </div>
    
        <div class="campo">
            <p>14. PRACTICA ALGUN DEPORTE</p>
            <label for="si_deporte" class="label1"><input type="radio" id="si_deporte" name="14. PRACTICA ALGUN DEPORTE" class="campo__radio" value="Si">Si</label>
            <label for="no_deporte" class="label1"><input type="radio" id="no_deporte" name="14. PRACTICA ALGUN DEPORTE" class="campo__radio" value="No">No</label>
            <p>CUAL:</p>
            <textarea name="cual_deporte" class="campo__textarea" id="textarea_cual_deporte"  rows="1" ></textarea>
            <p>FRECUENCIA:</p>
            <textarea name="frecuencia_deporte" class="campo__textarea" id="textarea_frecuencia_deporte" rows="1"></textarea>
        </div>
    </div>
</fieldset>
   <br>
   <fieldset class="feo1"> 
    <div class="casa8">
        <div class="campo">
            <p>15. FUMA </p>
            <label for="si" class="label1"><input type="radio" id="si" name="fuma" class="campo__radio" value="Si">Si </label>
            <label for="no" class="label1"><input type="radio" id="no" name="fuma" class="campo__radio" value="No">No </label>
            <p>PROMEDIO:</p>
            <textarea name="promedio" class="campo__textarea" id="textarea" rows="1"></textarea>
        </div>
    </div>
     
</fieldset>
<br>
<p>16. CUALES DE LAS SIGUIENTES MOLESTIAS HA SENTIDO CON FRECUENCIA EN LOS ULTIMOS SEIS (6) MESES.</p>
<br>
<table id="miTabla">
    <tr>
        <th>SINTOMA</th>
        <th>Si</th>
        <th>No</th>
    
    </tr>  
    <tr>
        <th>Dolor de cabeza</th>
        <th><input type="radio" name="respuesta1" id="1" value="Si"></th>
        <th><input type="radio" name="respuesta1" id="2" value="No"></th>
   
    </tr>
    <tr>
        <th>Dolor de cuello, espalda y cintura</th>
        <th><input type="radio" name="respuesta2" id="3" value="Si"></th>
        <th><input type="radio" name="respuesta2" id="4" value="No"></th>
    
    </tr>
    <tr>
        <th>Dolores musculares</th>
        <th><input type="radio" name="respuesta3" id="5" value="Si"></th>
        <th><input type="radio" name="respuesta3" id="6" value="No"></th>

    </tr>
    <tr>
        <th>Dificultad para algún movimiento</th>
        <th><input type="radio" name="respuesta4" id="7" value="Si"></th>
        <th><input type="radio" name="respuesta4" id="8" value="No"></th>
    
    </tr>
    <tr>
        <th>Tos frecuente</th>
        <th><input type="radio" name="respuesta5" id="9" value="Si"></th>
        <th><input type="radio" name="respuesta5" id="10" value="No"></th>

    </tr>
    <tr>
        <th>Dificultad respiratoria</th>
        <th><input type="radio" name="respuesta6" id="11" value="Si"></th>
        <th><input type="radio" name="respuesta6" id="12" value="No"></th>
    
    </tr>
    <tr>
        <th>Gastritis, ulcera</th>
        <th><input type="radio" name="respuesta7" id="13" value="Si"></th>
        <th><input type="radio" name="respuesta7" id="14" value="No"></th>
  
    </tr>
    <tr>
        <th>Otras alteraciones del funcionamiento digestivo</th>
        <th><input type="radio" name="respuesta8" id="15" value="Si"></th>
        <th><input type="radio" name="respuesta8" id="16" value="No"></th>
     
    </tr>
    <tr>
        <th>Alteraciones del sueño (insomnio, somnolencia)</th>
        <th><input type="radio" name="respuesta9" id="17" value="Si"></th>
        <th><input type="radio" name="respuesta9" id="18" value="No"></th> 

    </tr>
    <tr>
        <th>Dificultad para concentrarse</th>
        <th><input type="radio" name="respuesta10" id="19" value="Si"></th>
        <th><input type="radio" name="respuesta10" id="20" value="No"></th>

    </tr>
    <tr>
        <th>Estrés</th>
        <th><input type="radio" name="respuesta11" id="21" value="Si"></th>
        <th><input type="radio" name="respuesta11" id="22" value="No"></th>

    </tr>
    <tr>
        <th>Nerviosismo</th>
        <th><input type="radio" name="respuesta12" id="23" value="Si"></th>
        <th><input type="radio" name="respuesta12" id="24" value="No"></th>
      
    </tr>
    <tr>
        <th>Cansancio mental </th>
        <th><input type="radio" name="respuesta13" id="25" value="Si"></th>
        <th><input type="radio" name="respuesta13" id="26" value="No"></th>
       
    </tr>
    <tr>
        <th>Palpitaciones cardíacas</th>
        <th><input type="radio" name="respuesta14" id="27" value="Si"></th>
        <th><input type="radio" name="respuesta14" id="28" value="No"></th>
        
    </tr>
    <tr>
        <th>Dolor en el pecho (angina)</th>
        <th><input type="radio" name="respuesta15" id="29" value="Si"></th>
        <th><input type="radio" name="respuesta15" id="30" value="No"></th>
    
    </tr>
    <tr>
        <th>Cambios visuales</th>
        <th><input type="radio" name="respuesta16" id="31" value="Si"></th>
        <th><input type="radio" name="respuesta16" id="32" value="No"></th>
  
    </tr>
    <tr>
        <th>Cansancio, fatiga, ardor o disconfor visual</th>
        <th><input type="radio" name="respuesta17" id="33" value="Si"></th>
        <th><input type="radio" name="respuesta17" id="34" value="No"></th>
      
    </tr>
    <tr>
        <th>Pitos o ruidos continuos o intermitentes en los oídos</th>
        <th><input type="radio" name="respuesta18" id="35" value="Si"></th>
        <th><input type="radio" name="respuesta18" id="36" value="No"></th>
        
    </tr>
    <tr>
        <th>Dificultad para oír</th>
        <th><input type="radio" name="respuesta19" id="37" value="Si"></th>
        <th><input type="radio" name="respuesta19" id="38" value="No"></th>
      
    </tr>
    <tr>
        <th>Sensación permanente de cansancio</th>
        <th><input type="radio" name="respuesta20" id="39" value="Si"></th>
        <th><input type="radio" name="respuesta20" id="40" value="No"></th>
       
    </tr>
    <tr>
        <th>Alteraciones en la piel</th>
        <th><input type="radio" name="respuesta21" id="41" value="Si"></th>
        <th><input type="radio" name="respuesta22" id="42" value="No"></th>
       
    </tr>
    <tr>
        <th>Otras alteraciones no anotadas</th>
        <th><input type="radio" name="respuesta23" id="43" value="Si"></th>
        <th><input type="radio" name="respuesta24" id="44" value="No"></th>
       
    </tr>
</table>
<br>
<br>
<p>17. EN EL DESARROLLO DE SU LABOR ENCUENTRA LAS SIGUIENTES CONDICIONES:</p>
<br>
<table id="miTabla1">
    <tr>
        <th>CONDICION</th>
        <th>Si</th>
        <th>No</th>
    
    </tr>  
    <tr>
        <th>¿Conoce los riesgos a los que está expuesto en su lugar de trabajo?</th>
        <th><input type="radio" name="respuesta1" id="1" value="Si"></th>
        <th><input type="radio" name="respuesta1" id="2" value="No"></th>

    </tr>
    <tr>
        <th>¿Ha recibido capacitación sobre el manejo de los riesgos a los que está expuesto?</th>
        <th><input type="radio" name="respuesta2" id="3" value="Si"></th>
        <th><input type="radio" name="respuesta2" id="4" value="No"></th>

    </tr>
    <tr>
        <th>¿Considera que la iluminación de su puesto de trabajo es adecuada?</th>
        <th><input type="radio" name="respuesta3" id="5" value="Si"></th>
        <th><input type="radio" name="respuesta3" id="6" value="No"></th>
   
    </tr>
    <tr>
        <th>¿La temperatura de su sitio de trabajo le ocasiona molestias?</th>
        <th><input type="radio" name="respuesta4" id="7" value="Si"></th>
        <th><input type="radio" name="respuesta4" id="8" value="No"></th>

    </tr>
    <tr>
        <th>¿En su sitio de trabajo hay presencia de polvo en el ambiente?</th>
        <th><input type="radio" name="respuesta5" id="9" value="Si"></th>
        <th><input type="radio" name="respuesta5" id="10" value="No"></th>

    </tr>
    <tr>
        <th>¿Considera que los pisos, techos, paredes, escaleras, presentan riesgo para su salud?</th>
        <th><input type="radio" name="respuesta6" id="11" value="Si"></th>
        <th><input type="radio" name="respuesta6" id="12" value="No"></th>

    </tr>
    <tr>
        <th>¿Existen cables sin entubar, empalmes defectuosos, tomas eléctricas sobrecargadas, trasformadores defectuosos?</th>
        <th><input type="radio" name="respuesta7" id="13" value="Si"></th>
        <th><input type="radio" name="respuesta7" id="14" value="No"></th>

    </tr>
    <tr>
        <th>¿Los sitios destinados para el almacenamiento son suficientes, poseen espacio adecuado y los insumos y productos se encuentran bien apilados?</th>
        <th><input type="radio" name="respuesta8" id="15" value="Si"></th>
        <th><input type="radio" name="respuesta8" id="16" value="No"></th>
    
    </tr>
    <tr>
        <th>¿Las tareas que desarrolla le exigen realizar movimientos repetitivos?</th>
        <th><input type="radio" name="respuesta9" id="17" value="Si"></th>
        <th><input type="radio" name="respuesta9" id="18" value="No"></th> 
 
    </tr>
    <tr>
        <th>¿Permanece en una misma posición (sentado o de pie) durante más del 60% de la jornada de trabajo?</th>
        <th><input type="radio" name="respuesta10" id="19" value="Si"></th>
        <th><input type="radio" name="respuesta10" id="20" value="No"></th>

    </tr>
    <tr>
        <th>¿La altura de la superficie de trabajo es la adecuada a su estatura, la silla y la labor que realiza?</th>
        <th><input type="radio" name="respuesta11" id="21" value="Si"></th>
        <th><input type="radio" name="respuesta11" id="22" value="No"></th>

    </tr>
    <tr>
        <th>¿Tiene espacio suficiente para variar la posición de las piernas y rodillas?</th>
        <th><input type="radio" name="respuesta12" id="23" value="Si"></th>
        <th><input type="radio" name="respuesta12" id="24" value="No"></th>

    </tr>
    <tr>
        <th>¿La silla es cómoda y permite ajustarlo a su medida?</th>
        <th><input type="radio" name="respuesta13" id="25" value="Si"></th>
        <th><input type="radio" name="respuesta13" id="26" value="No"></th>

    </tr>
    <tr>
        <th>¿En general dispone de espacio suficiente  para realizar el trabajo con amplitud?</th>
        <th><input type="radio" name="respuesta14" id="27" value="Si"></th>
        <th><input type="radio" name="respuesta14" id="28" value="No"></th>

    </tr>
    <tr>
        <th>¿Su trabajo le exige mantenerse frente a la pantalla del computador más del 50% de la jornada?</th>
        <th><input type="radio" name="respuesta15" id="29" value="Si"></th>
        <th><input type="radio" name="respuesta15" id="30" value="No"></th>
      
    </tr>
    <tr>
        <th>¿Al finalizar la jornada laboral, el cansancio que se siente podría calificarse de “normal”?</th>
        <th><input type="radio" name="respuesta16" id="31" value="Si"></th>
        <th><input type="radio" name="respuesta16" id="32" value="No"></th>

    </tr>
    <tr>
        <th>¿Considera adecuada la distribución del horario de trabajo, de los turnos, de las horas de descanso, horas extras y pausas?</th>
        <th><input type="radio" name="respuesta17" id="33" value="Si"></th>
        <th><input type="radio" name="respuesta17" id="34" value="No"></th>

    </tr>
    <tr>
        <th>¿El trabajo que desempeña le permite  aplicar sus habilidades y conocimientos?</th>
        <th><input type="radio" name="respuesta18" id="35" value="Si"></th>
        <th><input type="radio" name="respuesta18" id="36" value="No"></th>

    </tr>
    <tr>
        <th>¿Su jefe le pide opinión sobre asuntos relacionados con su trabajo?</th>
        <th><input type="radio" name="respuesta19" id="37" value="Si"></th>
        <th><input type="radio" name="respuesta19" id="38" value="No"></th>
    
    </tr>
    <tr>
        <th>¿La empresa cuenta con agua potable?</th>
        <th><input type="radio" name="respuesta20" id="39" value="Si"></th>
        <th><input type="radio" name="respuesta20" id="40" value="No"></th>

    </tr>
    <tr>
        <th>¿Existe buen manejo de basuras y desechos?</th>
        <th><input type="radio" name="respuesta21" id="41" value="Si"></th>
        <th><input type="radio" name="respuesta21" id="42" value="No"></th>

    </tr>
    <tr>
        <th>¿El ruido ambiental le permite mantener una conversación con los compañeros sin elevar  el tono de voz?</th>
        <th><input type="radio" name="respuesta22" id="43" value="Si"></th>
        <th><input type="radio" name="respuesta22" id="44" value="No"></th>

    </tr>
    <tr>
        <th>¿Existe en su sitio de trabajo riesgos de incendio o explosión?</th>
        <th><input type="radio" name="respuesta23" id="45" value="Si"></th>
        <th><input type="radio" name="respuesta23" id="46" value="No"></th>

    </tr>
    <tr>
        <th>¿Puede abandonar el trabajo por unos minutos sin necesidad que lo sustituyan?</th>
        <th><input type="radio" name="respuesta24" id="47" value="Si"></th>
        <th><input type="radio" name="respuesta24" id="48" value="No"></th>
      
    </tr>
    <tr>
        <th>¿Su trabajo lo realiza al aire libre?</th>
        <th><input type="radio" name="respuesta25" id="49" value="Si"></th>
        <th><input type="radio" name="respuesta25" id="50" value="No"></th>
   
    </tr>
    <tr>
        <th>¿Las tareas que realiza le producen  “sensación de peligrosidad”?</th>
        <th><input type="radio" name="respuesta26" id="51" value="Si"></th>
        <th><input type="radio" name="respuesta26" id="52" value="No"></th>
 
    </tr>
    <tr>
        <th>¿Su labor le exige levantar y transportar cargas?</th>
        <th><input type="radio" name="respuesta27" id="53" value="Si"></th>
        <th><input type="radio" name="respuesta27" id="54" value="No"></th>

    </tr>
    <tr>
        <th>¿Cuenta con ayudas mecánicas para realizar dicha labor?</th>
        <th><input type="radio" name="respuesta28" id="55" value="Si"></th>
        <th><input type="radio" name="respuesta28" id="56" value="No"></th>

    </tr>
    <tr>
        <th>¿En su puesto de trabajo necesita utilizar elementos de protección personal? Cuales</th>
        <th><input type="radio" name="respuesta29" id="57" value="Si"></th>
        <th><input type="radio" name="respuesta29" id="58" value="No"></th>
  
    </tr>
    <tr>
        <th>¿En el sitio de trabajo manipula o está en contacto con productos químicos?</th>
        <th><input type="radio" name="respuesta30" id="59" value="Si"></th>
        <th><input type="radio" name="respuesta30" id="60" value="No"></th>
  
    </tr>
    <tr>
        <th>¿Manipula productos o desechos de origen animal o vegetal?</th>
        <th><input type="radio" name="respuesta31" id="61" value="Si"></th>
        <th><input type="radio" name="respuesta31" id="62" value="No"></th>
     
    </tr>
    <tr>
        <th>¿Las máquinas y herramientas que utiliza en el desempeño de su labor producen vibración?</th>
        <th><input type="radio" name="respuesta32" id="63" value="Si"></th>
        <th><input type="radio" name="respuesta32" id="64" value="No"></th>
       
    </tr>
    <tr>
        <th>¿Su labor genera riesgos mecánicos proyección de partículas, atrapamiento, manejo de elementos contaminantes, punzantes, calientes abrasivas?</th>
        <th><input type="radio" name="respuesta33" id="65" value="Si"></th>
        <th><input type="radio" name="respuesta33" id="66" value="No"></th>
     
    </tr>
    <tr>
        <th>Si está a cargo de alguna máquina o herramienta, ¿tiene los mandos dispuestos  de tal manera que no necesite  realizar movimientos forzados para accionarlo?</th>
        <th><input type="radio" name="respuesta34" id="67" value="Si"></th>
        <th><input type="radio" name="respuesta34" id="68" value="No"></th>
       
    </tr>
</table>
<br>

        <div class="campo___input">
            <button  class="btn" onclick="validarFormulario()">ENVIAR</button>
        </div>
    </form>
</div>
</fieldset>
<script src="../js/encuesta.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>