<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Mooli&family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>SURTIDORA/ESTRENO</title>
</head>
<body>
    <footer class="pie-pagina">
        <div class="grupo-1">
                    <!-- contendor 1 -->
            <div class="box">
                <figure>
                    <a href="#">
                    <img src="../icons/LOGO- SURTIDORA ESTRENO.png" >
                    </a>
                </figure>
            </div>
                    <!-- contendor 2 -->
            <div class="box">
                <h2>Sobre Nosotros:</h2>
                <br>
                <h3><p>Los servicios de este sitio están sujetos a los términos y condiciones, al solicitar información y/o contratar nuestros servisos, se acepta el aviso de privacidad</p></h3>
            </div>
                    <!-- contendor 3 -->
            <div class="box">
                <h2>Desarrollado en:</h2>
                <div class="red-social">
                    <!-- <a href="#" class=""><img src="../images/facebook.svg"></a> -->
                    <!-- <a href="#" class="fa fa-facebook"><img src="icons/github.svg"></a> -->
                    <a href="https://instagram.com/almacenesestreno?igshid=NjIwNzIyMDk2Mg==" target="_blank"><img src="../images/instagram.svg">
                    </a>
                    <!-- <a href="#" class="fa fa-facebook"><img src="icons/twitter.svg"></a> -->
                    <hr>
                    <h2>Telefono:</h2>             
                    <h3>3854947 ext 206</h3>
                    <hr>
                    <h2>Direccion:</h2>
                    <h3> CALLE 34 # 43-109</h3>    
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <hr>
            <small>&copy;  2023  <b>KENNY AREVALO SARMIENTO</b> - Todos Los Derechos Reservados.</small>
            <hr>
        </div>
    </footer>
</body>
</html>