<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/stilos2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <!-- recursos humanos -->
    <div class="sc">
        <div class="card" id="card1" >
                <div class="face front">
                    <img src="../images/undraw_diary_re_4jpc.svg" alt="">
                        <h3 class="iniciar">Recursos Humanos</h3> 
                        </div>
                    <div class="face back">
                    <h3>Mayra Alejandra Gómez  Garizabalo</h3> 
                    <hr>
                    Telefono:
                    <br>
                    3854947 ext 206
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi saepe sapiente libero sint nobis cumque reiciendis vitae voluptatibus cupiditate modi.</p>
                    <div class="link">
                        <h4>estreno_recursoshumanos@hotmail.com</h4>
                    </div>
                </div>
        </div>
        <div class="btn">
            <button class="btn1" id="btn1" title="Mas informacion" onclick=activar()>
                <img src="../images/icons8-i-67.png" alt="">
            </button>
            
        </div>
    </div>
        <!-- psicologa -->
    <div class="sc">
        <div class="card" id="card2"  >
                <div class="face front">
                    <img src="../icons/yo-removebg-preview.png" alt="">
                        <h3 class="iniciar">Psicologa</h3> 
                        </div>
                    <div class="face back">
                    <h3>Laura leones</h3> 
                    <hr>
                    Telefono:
                    <br>
                    3854947 ext 206
                    <hr>
                    <p>Psicologa y estoy aqui para implementar planes de eficiencia en el trabajo para incrementar la productivad, mejorar el clima de la organizacion y en la parte de seleccion de personal.</p>
                        <div class="link">
                            <h4>estreno_recursoshumanos@hotmail.com</h4>
                        </div>
                </div>
        </div>
        <div class="btn">
            <button class="btn1" id="btn1" title="Mas informacion" onclick=activar2()>
                <img src="../images/icons8-i-67.png" alt="">
            </button>
            
        </div>
    </div>
        <!-- Nomina, Contratación y Afiliaciones -->
    <div class="sc">
        <div class="card"  id="card3" >
                <div class="face front">
                    <img src="../images/undraw_businessman_wy3w.svg" alt="">
                        <h3 class="iniciar">Nomina, Contratación y Afiliaciones </h3> 
                        </div>
                    <div class="face back">
                    <h3>LIliana Mendoza Potes</h3> 
                    <hr>
                    Telefono:
                    <br>
                    3854947 ext 206
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi saepe sapiente libero sint nobis cumque reiciendis vitae voluptatibus cupiditate modi.</p>
                        <div class="link">
                            <h4>estreno_recursoshumanos@hotmail.com</h4>
                        </div>
                </div>
        </div>
        <div class="btn">
            <button class="btn1" id="btn1" title="Mas informacion" onclick=activar3()>
                <img src="../images/icons8-i-67.png" alt="">
            </button>
            
        </div>
    </div>
</body>
</html>

<script>

function activar(){
    document.getElementById("card1").classList.toggle("ff");  
    
}
function activar2(){
    document.getElementById("card2").classList.toggle("ff");  
}
function activar3(){
    document.getElementById("card3").classList.toggle("ff");  
}
</script>