<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SURTIDORA/ESTRENO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Mooli&family=Poppins:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
  <body class="section">
    <header>
      <div class="container__menu">
        <div class="logo">
          <img src="../icons/LOGO- SURTIDORA ESTRENO.png" alt="" />
        </div>
        <div class="menu">
          <i class="fas fa-bars" id="btn_menu"></i>
          <div id="back_menu"></div>
          <nav id="nav">
            <img src="../icons/LOGO- SURTIDORA ESTRENO.png" alt="" />

            <ul>
              <li><a href="../index.html" >Inicio</a></li>
              <li><a href="../view/Mision.html">¡Conocenos!</a></li>
              <!-- <li><a href="../view/Vision.html">Vision</a></li> -->
              <li><a href="../view/Induccion.html"id="selected">Induccion</a></li>
              <li><a href="../view/Psicologia.html">Psicologia</a></li>
              <li><a href="../view/trabajador.html">Conmemoracion</a></li>
              <li><a href="#">Pruebas</a>
                <ul>
                  <li > <a href="../view/encuesta.html" target="_blank"> ENCUESTA</a></li>
                  <li > <a href="../view/actatemario.html" target="_blank"> ACTA DE TEMARIO</a></li>
                  <li > <a href="../view/Evaluacion.html" target="_blank"> EVALUACION</a></li>
                  <li ><a href="../view/Procedimiento.html" target="_blank">PROCEDIMIENTO TALENTO HUMANO</a></li>
                  
              </ul>
              </li>   
              <li><a href="../view/Contacto.html">Contactos</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  
    

    

    <main>
      <section id="sec1">
      
      <div class="container__cover">
        <div class="cover">
          
          <div class="text">
            <h1>¿QUÉ ES EL SISTEMA DE GESTIÓN EN SEGURIDAD Y SALUD EN EL TRABAJO?</h1>   
            <h2>        
             <p>
                Es un proceso lógico  por etapas, basado en la mejora continua, mediante el ciclo PHVA (planear, hacer, verificar y actuar) con el objetivo de anticipar, reconocer, evaluar y controlar los riesgos que pueden afectar la seguridad y salud en el trabajo.
              </h2>    <br>
               <a class="btn" href="#sec2"> Siguiente</a>
              </p></h2>             
          </div>

          <div class="svg">
            <img src="../images/lupa.png">
        </div>
        </div>
        
        </div> 
       
      </div>
    </section>


    <section id="sec2">
      <div class="container__cover">
        <div class="cover">
          
          <div class="text">
            <h1>NORMATIVIDAD</h1>
            
            <h2><p>
                El sistema de gestión en seguridad y salud en el trabajo está regulado por el decreto 1072 de 2015, el cual fue elaborado por el Ministerio de Trabajo y sancionado por el Presidente de la república. 
               </h2><br>
                <a class="btn" href="#sec3" > Siguiente</a>
              </p>
             
            
           
              
          </div>

          <div class="svg">
            <img src="../icons/ka-removebg-preview.png" alt="">
        </div>
        </div>
        
        </div> 
       
      </div>

      <section id="sec3">
      <div class="container__cover">
        <div class="cover">
          
          <div class="text">
            <h1>¿ QUÉ LO COMPONE?</h1>

          <h2>
              <p>
                •Políticas
                <br>
                •Objetivos
                 <br>
                •Matriz de identificación de peligros y valoración de riesgos.</ol>
                <br>
                •Diagnóstico de las condiciones de salud: exámenes medico ocupacionales de ingreso, periódico y egreso.
                <br>
                •Programa de gestión en seguridad y salud en el trabajo con énfasis en promoción y prevención.
                <br>
                •Programa de gestión en seguridad y salud en el trabajo con énfasis en higiene y seguridad industrial.
                <br>
                •Reporte e investigación de incidentes, accidentes y enfermedades laborales.
                <br>
                •Reporte e investigación de incidentes, accidentes y enfermedades laborales.
                <br>
                •Plan de emergencias.</ol>
                <br>
                •Comité paritario de seguridad y salud en el trabajo (COPASST).
                <br>
                •Evaluación del sistema
                <br>
                •Control  y seguimiento del sistema.
              </h2> <br>
                <a class="btn" href="#sec4" > Siguiente</a>
              </p>
            
          </div>

          <div class="svg">
            <!-- <img src="images/Imagen2.jpg" alt=""> -->
        </div>
        </div>
        
        </div> 
       
      </div>
      </section>


      <section id="sec4">
      <div class="container__cover">
        <div class="cover">
          
          <div class="text">
            <h1>PELIGRO
            </h1>

          <h2>
              <p>
                Fuente, situación o acto con potencial de daño en términos de enfermedad o lesión a las personas o una combinación de estos.    
              </p>
            </h2>
            <br>
            <br>

            <h1>RIESGO

            </h1>

            <h2>
              <p >
                Combinación de la probabilidad de que ocurra un evento o exposición peligroso y la consecuencia de la lesión o enfermedad que puede ser causada por el evento o exposición.
              </h2> <br>
                <a class="btn" href="#sec5" > Siguiente</a>
              </p>
            
           
              
          </div>

          <div class="svg">
            <!-- <img src="images/Imagen2.jpg" alt=""> -->
        </div>
        </div>
        
        </div> 
       
      </div>
    </section>




    <section id="sec5">
      <div class="container__cover">
        <div class="cover">
          
          <div class="text">
            <h1>INCIDENTE DE TRABAJO</h1>

          <h2>
              <p>
                Suceso producido en el curso del trabajo o en relación con este, que tuvo el potencial de ser un accidente en el que hubo personas involucradas sin que sufrieran lesiones o se presentaran daños a la propiedad y/o pérdida en los procesos.
                <br>
              </h2>
                <a class="btn" href="#sec6" > Siguiente</a>

              </p>
          
           
              
          </div>

          <div class="svg">
            <img src="../icons/img3.jpg" alt="">
        </div>
        </div>
        
        </div> 
       
      </div>
    </section>



    <section id="sec6">
      <div class="container__cover">
        <div class="cover">
          
          <div class="text">
            <h1>ACCIDENTE LABORAL</h1>

          <h2>
              <p>
                Es accidente laboral, todo suceso repentino que sobrevenga por causa o con ocasión del trabajo y que produzca en el trabajador una lesión orgánica, una perturbación funcional o psiquiátrica, una invalidez o la muerte.
                <br>
                <br>
Es también accidente  laboral aquel que se produce durante la ejecución de órdenes del empleador o contratante durante la ejecución de una labor bajo su autoridad, aún fuera del lugar y horas de trabajo.
<br>
<br>
Igualmente se considera accidente laboral el que se produzca durante el traslado de los trabajadores o contratistas desde su residencia a los lugares de trabajo o viceversa, cuando el transporte lo suministre el empleador. 
<br>
<br>
De igual forma, se considera accidente laboral el que se produzca por la ejecución de actividades recreativas, deportivas o culturales, cuando se actúe por cuenta o en representación del empleador o de la empresa usuaria cuando se trate de trabajadores de empresas de servicios temporales que se encuentren en misión.
<br>
</h2>
                <a class="btn" href="#sec7" > Siguiente</a>
              </p>
            
           
              
          </div>

          <div class="svg">
            <img src="../icons/Diseno-sin-titulo-70.png ">
        </div>
        </div>
        
        </div> 
       
      </div>
    </section>






    <section id="sec7">
      <div class="container__cover">
        <div class="cover">
          
          <div class="text">
            <h1>ENFERMEDAD LABORAL</h1>
          <h2>
              <p>
                 Es la enfermedad laboral contraída como resultado de la exposición a factores de riesgo inherentes a la actividad laboral o del medio en el que el trabajador se ha visto obligado a trabajar.
              </h2><br>
                <a class="btn" href="#sec8" > Siguiente</a>

              </p>
            
           
              
          </div>

          <div class="svg">
            <img src="../icons/prl-3.jpg" alt="">
        </div>
        </div>
        
        </div> 
       
      </div>
    </section>





    <section id="sec8">
      <div class="container__cover">
        <div class="cover">
          
          <div class="text">
            <h1>ACTO INSEGURO</h1>

          <h2>
              <p>
                El Acto Inseguro  es toda acción realizada por una persona que por no cumplir con las normas o estándares de seguridad puede originar un evento: 
                <br>
                
                <br>
                • Manejo de equipos sin autorización.
                <br>
                
                • Falta de advertencias. 
                <br>
                
                • Manejo a velocidad inadecuada.
                
                <br> 
                 • Hacer inoperable los instrumentos de    seguridad. 
                
                <br>
                • Uso de equipos defectuosos. 
                <br>

                • Emplear herramientas en forma incorrecta o en mal estado. 
              </h2> <br>
                <a class="btn" href="#sec9" > Siguiente</a>
              </p>
          
           
              
          </div>

          <div class="svg">
            <!-- <img src="../icons/R.jpg" alt=""> -->
        </div>
        </div>
        
        </div> 
       
      </div>
    </section>






    <section id="sec9">
      <div class="container__cover">
        <div class="cover">
          
          <div class="text">
            <h1>CONDICIÓN INSEGURA</h1>

          
            <p><h2>
                Situación o circunstancia que presenta en el lugar de trabajo y que se caracteriza por la presencia de riesgos no controlados que pueden generar accidentes o enfermedades laborales.
              </h2>
                <br>
                <a class="btn" href="#sec10" > Siguiente</a>
            </p>
            
           
              
          </div>

          <div class="svg">
            <img src="../images/Imagen7.jpg" alt="">
        </div>
        </div>
        
        </div> 
       
      </div>
    </section>




      
    <section id="sec10"></section>
      <div class="container__cover">
        <div class="cover">
          
          <div class="text">
            <h1>POLÍTICA DE SEGURIDAD Y SALUD EN EL TRABAJO</h1>
        
          
              <p><h2>
                    Es el compromiso de la alta dirección de una organización con la seguridad y la salud en el trabajo, expresadas formalmente, que define su alcance y compromete a toda la organización.
                 </h2>
                 <br>
                 <a class="btn" href="#sec11" > Siguiente</a>
              </p>
          
           
              
          </div>

          <div class="svg">
            <img src="../images/trabajadores.png" alt="">
        </div>
        </div>
        
        </div> 
       
      </div>
    </section>






    <section id="sec11"></section>
      <div class="container__cover">
        <div class="cover">
          
          <div class="text">
            <h1>OBJETIVOS POLITICA SEGURIDAD Y SALUD EN EL TRABAJO</h1>

          <h2>
              <p >
                La alta dirección de la empresa,  en coherencia con la Política de Seguridad y Salud en el Trabajo, ha definido los siguientes Objetivos:
                <br>
                
                <br>
                •Dar cumplimiento a la normatividad legal vigente en materia de Seguridad y Salud en el Trabajo.

                <br>
                
                • Definir acciones encaminadas a la prevención de incidentes, accidentes y enfermedades laborales, generando ambientes de trabajo seguros y saludables. 

                <br>
                
                • Identificar de forma oportuna las condiciones de salud y trabajo inseguras que puedan propiciar incidentes, accidentes y enfermedades laborales.
                <br>
                 
                •Establecer actividades de gestión del riesgo ante las prioridades identificadas en la evaluación inicial del SG-SST 
 
                <br>
                
                • Verificar la implementación de las actividades de prevención y control planificadas y los resultados arrojados por las mismas


                <br>
                • Definir las actividades de promoción y prevención que permitan mejorar las condiciones  de trabajo y de salud de los empleados.
                <br>
                
                • Identificar el origen de los accidentes de trabajo y las enfermedades profesionales, para el control de los factores de riesgo relacionados.
                <br>
                
                • Mantener y mejorar el Sistema de Gestión de Seguridad y Salud en el Trabajo 

              </h2>
                <br>
                <a class="btn" href="#sec12" > Siguiente</a>
                
              </p>
            
           
              
          </div>

          <div class="svg">
            <!-- <img src="../images/Imagen8.jpg" alt=""> -->
        </div>
        </div>
        
        </div> 
       
      </div>
    </section>




    <section id="sec12"></section>
      <div class="container__cover">
        <div class="cover">
          
          <div class="text">
            <h1>POLÍTICA DE PREVENCIÓN DE ACOSO LABORAL</h1>
            <h2>
              <p >
                •Busca y apoya defender los derechos de todos(as) los trabajadores(as) así mismo ser tratados con dignidad y respeto, generando entornos de trabajos sanos, seguros, adecuados en el que no exista acoso. Por ello se fijan los siguientes puntos:
                
                
                <br>
                •Se compromete a establecer actividades tendientes a generar una conciencia colectiva de sana convivencia, que promueva el trabajo en condiciones dignas y justas; la armonía entre los trabajadores y el buen ambiente en la empresa. 
                <br>
                
                • En consecuencia, la organización se compromete a dar trámite oportuno a las quejas que pueda aparecer en torno al acoso laboral a través del Comité de Convivencia Laboral y a salvaguardar la información recolectada.
              </h2> <br>
                <a class="btn" href="#sec13" > Siguiente</a>
              </p>
          </div>

          <div class="svg">
            <!-- <img src="../images/Imagen8.jpg" alt=""> -->
        </div>
        </div>
        
        </div> 
       
      </div>
    </section>





    <section id="sec13"></section>
      <div class="container__cover">
        <div class="cover">         
          <div class="text">
            <h1>POLÍTICA DE EQUIDAD DE GÉNERO, DIVERSIDAD E INCLUSIÓN</h1>
            <h2>
              <p>
                Busca y apoya defender los derechos de todos(as) los trabajadores(as) por lo cual se compromete a:
                <br>
                <br>
                
                •Promover la igualdad de oportunidades y trato justo para todas las personas, sin importar su género, orientación sexual, raza, religión o cualquier otra característica protegida por la ley, sin realizar 
                
                <br>
                • Fomentar un ambiente de trabajo inclusivo y respetuoso, donde todas las voces sean valoradas y escuchadas en la empresa.
                <br>
                
                • Fomentar un lenguaje incluyente y no sexista.
                <br>
                
                •Implementar programas de capacitación y sensibilización sobre equidad de género y diversidad, con el objetivo de eliminar estereotipos y prejuicios.
                
                <br>
                • Implementar el principio de no discriminación de ninguna índole en el ejercicio de los derechos de las y los servidores de la empresa.
                <br>
                
                • Garantizar la igualdad salarial entre hombres y mujeres que desempeñen funciones similares.
                
                <br>
                •Promover la diversidad en los procesos de contratación y promoción, asegurando la representación equitativa de diferentes grupos.

                <br>
                
                • Implementar medidas para prevenir y abordar el acoso sexual y cualquier forma de discriminación en el lugar de trabajo.
               </h2> <br>
                <a class="btn" href="#sec14" > Siguiente</a>
              </p>    
          </div>
          <div class="svg">
            <!-- <img src="../images/Imagen8.jpg" alt=""> -->
        </div>
        </div>  
        </div> 
      </div>
    </section>




    <section id="sec14"></section>
      <div class="container__cover">
        <div class="cover">
          
          <div class="text">
            <h1>POLITICA DE NO USO DE ALCOHOL, TABACO Y DROGAS EN EL TRABAJO.</h1>         
              <h2>
              <p>
                Es una aspiración de  la empresa, que sus colaboradores desarrollen funciones sin que exista ningún factor que altere su comportamiento, considerando que el consumo de alcohol, tabaco y drogas constituye un riesgo para la salud e integridad física de los mismos.
                <br>
                <br>
                Ésta política es aplicable a todos los colaboradores de la empresa.</h2>
                <br>
                <a class="btn" href="#sec15" > Siguiente</a>
              </p>              
          </div>
          <div class="svg">
            <img src="../images/proibido.png" alt="">
        </div>
        </div>        
        </div>       
      </div>
    </section>

    <section id="sec15"></section>
      <div class="container__cover">
        <div class="cover">        
          <div class="text">
            <h1>REGLAMENTO DE HIGIENE Y SEGURIDAD INDUSTRIAL</h1>
            <p>
              <h2>             
                CLASIFICACIÓN DE LOS AGENTES:
              </h2>
                <br>
                <a class="btn" href="#sec16" >Siguiente</a>
            </p>             
          </div>
         <div class="svg">
            <img src="../images/Imagen1.png" alt="">
        </div>
        </div>
        
        </div> 
       
      </div> 
    </section>




    <section id="sec16"></section>
      <div class="container__cover">
        <div class="cover">
          
          <div class="text">
            <h1>OBLIGACIONES DE LOS EMPLEADORES</h1>
            <h2>
              <p>             
                <br>               
                <br>
                •Definir , firmar  y divulgar la política en SST.
                <br>             
                • Definir los recurso económicos, físicos y tecnológicos para la implementación del SG-SST.               
                <br>
                • Cumplir con la normatividad legal vigente
                <br>               
                •Prevenir los accidentes y enfermedades laborales en la empresa                
                <br>
                •Capacitar a los trabajadores en la prevención de accidentes y enfermedades laborales
                <br>
                •Incluir a todos los integrantes de la empresa en las medidas que sean implementadas para la prevención de accidentes y enfermedades.
              </h2>  <br>
                <a class="btn" href="#sec17" >Siguiente</a>  
              </p>       
          </div>
          <div class="svg">
            <!-- <img src="../images/Imagen8.jpg" alt=""> -->
        </div>
        </div>        
        </div>       
      </div>
    </section>







    <section id="sec17"></section>
      <div class="container__cover">
        <div class="cover">
          
          <div class="text">
            <h1>DERECHOS DE LOS AFILIADOS A LA ARL</h1>
            <h2>
              <p >            
                <br>               
                <br>
                • El trabajador que sufra un accidente  o se le diagnostique una enfermedad laboral, tiene derecho a la cobertura del 100% de las siguientes prestaciones económicas               
                <br>
                • Atención inicial en urgencias 
                <br>              
                • Atención médica, quirúrgica, terapéutica y farmacéutica
                <br>             
                •Rehabilitación física y profesional
                <br>         
                •Elaboración y reparación de prótesis
                <br>              
                •Gastos de traslado                
                <br>
                •Subsidio por incapacidad temporal                
                <br>
                •Indemnización por incapacidad permanente parcial
                <br>               
                •Pensión
                <br>               
                •Auxilio funerario
                <br>            
                • Ser re incorporado o re ubicado laboralmente, una vez terminados los procesos de rehabilitación y recuperación
                <br>              
                • Procurar por el cuidado integral de su salud
                <br>             
                • Cumplir las normas, reglamentos e instrucciones de salud ocupacional
                <br>              
                •Participar en las actividades de prevención de riesgos y capacitaciones de la empresa            
                <br>
                •Los pensionados por invalidez por riesgos laborales, deberán informar y mantener actualizada su información.
                </h2><br>
                <a class="btn" href="#sec18" >Siguiente</a>
              </p>             
          </div>
          <div class="svg">
            <!-- <img src="../images/Imagen8.jpg" alt=""> -->
        </div>
        </div>
        </div> 
      </div>
    </section>

    <section id="sec18"></section>
      <div class="container__cover">
        <div class="cover">
          
          <div class="text">
            <h1>REPORTE DE ACCIDENTE </h1>
            <h2>
              <p >              
              </h2>
             
                <a class="btn" href="#sec1" >volver</a>
              </p>             
          </div>
          <iframe class="cartica" src="../view/tabla.html" ></iframe>
          <div class="svg">
            <!-- <img src="../images/Captura.png">   -->
          
        </div>
        </div>
        
        </div> 
       
      </div>
      
    </section>
    </main>

    
     <footer class="footer"> 
        <iframe class="iframe" src="../view/footer.html"></iframe>
    </footer>

    <script src="../js/script.js"></script>
  </body>
 
</html>
