<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
   <link rel="stylesheet" href="../css/estilos3.css">
    <title>Document</title>

</head>
<body>
    <div class="container">
        <div class="signin-signup">
            <form action="" class="sign-in-form">
                 <h2 class="title"> INICIAR SESION</h2>
                 <div class="input-field">
                    <i class="fi fi-ss-user"></i>
                    
                    <input type="text" placeholder="username">
                 </div>
                
                 <div class="input-field">
                    <i class="fi fi-sr-lock"></i>
                    <input type="password" placeholder="password">
                 </div>
                 <input type="submit" value="ENTRAR" class="btn">
                 <p class="social-text"> O Inicia Sesion con una red social</p>
                 <div class="social-media">
                    <a href="" class="social-icon">
                        <i class="fi fi-brands-facebook"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fi fi-brands-apple"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fi fi-brands-instagram"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fi fi-brands-google"></i>
                    </a>
                 </div>
                 <p class="account-text"> <a href="#" id="sign-up-btn2"></a></p>
            </form>
            <form action="" class="sign-up-form">
                <h2 class="title">REGISTRARSE </h2>
                <div class="input-field">
                    <i class="fi fi-ss-user"></i>
                   <input type="text" placeholder="username">
                </div>
                <div class="input-field">
                    <i class="fi fi-sr-envelope"></i>
                    <input type="text" placeholder="Email">
                 </div>
                <div class="input-field">
                    <i class="fi fi-sr-lock"></i>
                   <input type="password" placeholder="password">
                </div>
                <input type="submit" value="REGISTRATE" class="btn">
                <p class="social-text"> O Inicia Sesion con una red social</p>
                <div class="social-media">
                   <a href="" class="social-icon">
                    <i class="fi fi-brands-facebook"></i>
                   </a>
                   <a href="" class="social-icon">
                    <i class="fi fi-brands-apple"></i>
                   </a>
                   <a href="" class="social-icon">
                    <i class="fi fi-brands-instagram"></i>
                   </a>
                   <a href="" class="social-icon">
                    <i class="fi fi-brands-google"></i>
                   </a>
                </div>
                <p class="account-text"> <a href="#" id="sign-in-btn2"></a></p>
           </form>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Miembro de la marca?</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit perspiciatis officiis unde voluptas exercitationem optio?</p>
                     <button class="btn" id="sign-in-btn">Entrar</button>
                </div>
                <img src="../icons/LOGO- SURTIDORA ESTRENO.png" alt="" class="image">
            </div>
    
            <div class="panel right-panel">
                <div class="content">
                    <h3>Miembro de la marca?</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit perspiciatis officiis unde voluptas exercitationem optio?</p>
                     <button class="btn" id="sign-up-btn">Entrar</button>
                </div>
                <img src="../icons/LOGO- SURTIDORA ESTRENO.png" alt="" class="image">
            </div>
        </div>  
    </div>
    <script src="../js/app.js"></script>
</body>
</html>