<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Mooli&family=Poppins:wght@500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SURTIDORA/ESTRENO</title>

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    
    <header>

        <div class="container__menu">
            <div class="logo">
                <img src="../icons/LOGO- SURTIDORA ESTRENO.png" alt=""> 
            </div>
            <div class="menu">
                <i class="fas fa-bars" id="btn_menu"></i>
                <div id="back_menu"></div>
                <nav id="nav">
                    <img src="../icons/LOGO- SURTIDORA ESTRENO.png" alt=""> 
                    <ul>
                        <li><a href="../index.html" >Inicio</a></li>
                        <li><a href="../view/Mision.html" id="selected">¡Conocenos!</a></li>
                        <!-- <li><a href="../view/Vision.html" >Vision</a></li> -->
                        <li><a href="./Induccion.html">Induccion</a></li>
                        <li><a href="../view/Psicologia.html">Psicologia</a></li>
                        <li><a href="../view/trabajador.html">Conmemoracion</a></li>
                        <li><a href="#">Pruebas</a>
                            <ul class="ta">
                                <li class="tar"> <a href="../view/encuesta.html" target="_blank"> ENCUESTA</a></li>
                                <li class="tar"> <a href="../view/actatemario.html" target="_blank"> ACTA DE TEMARIO</a></li>
                                <li class="tar"> <a href="../view/Evaluacion.html" target="_blank"> EVALUACION</a></li>
                              </ul>
                        </li>   
                        <li><a href="../view/Contacto.html">Contactos</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </header>

    <main>
        <section id="sec1">
        <div class="container__cover">
            <div class="cover">
                <div class="text">
                <h1 class="text2">Misión</h1>
                <div class="text">
                

                   <h2> <p>Satisfacer las necesidades de nuestros clientes con una atención personalizada y profesional que lo lleve a una emocionante experiencia de compras en lo referente a surtido, disponibilidad, calidad de la mercancía, eventos 
                        promocionales y un ambiente afable que marquen la diferencia; sostenidos por la ética y responsabilidad social como compromiso hacia la comunidad con la cual mantenemos actividades comerciales.</p>
                    </h2>
                    <br>
                    <a class="btn" href="#sec2" > Siguiente</a>
                    <!-- <input type="button" value="Leer Más"> -->
                </div>
            </div>
                <div class="svg">
                    <img src="../icons/ra-removebg-preview.png" alt="">
                </div>
            </div>
        </div>
    </section>


    <section id="sec2">
        <div class="container__cover">
            <div class="cover">
                <div class="text">
                <h1 class="text2">Visión</h1>
                <div class="text">
                

                   <h2> <p>Nuestra empresa busca trascender en el mercado a través de una constante innovación en el concepto de la moda, ser reconocida como  líder en atención y servicio al cliente y por el sello de excelencia en la calidad de los productos que ofrece, posicionándose y manteniéndose como uno de los mejores almacenes de moda y estilo del país.</p>
                   
                    </h2>
                    <br>
                    <a class="btn" href="#sec3" > Siguiente</a>
                    <!-- <input type="button" value="Leer Más"> -->
                </div>
            </div>
                <div class="svg">
                    <img src="../icons/pa-removebg-preview.png" alt="">
                </div>
            </div>
        </div>
    </section>

      
    <section id="sec3">
        <div class="container__cover">
            <div class="cover">
                <div class="text">
                <h1 class="text2">Objetivo</h1>
                <div class="text">
                

                   <h2> <p>Ofrecer un servicio de calidad, brindando asesoría y solución a las necesidades de innovación en la moda y estilo de  vestir, logrando el crecimiento sostenido en el mercado nacional, el reconocimiento y la preferencia de los clientes. </p>
                    </h2>
                    <br>
                    <a class="btn" href="#sec4" > Siguiente</a>
                    <!-- <input type="button" value="Leer Más"> -->
                </div>
            </div>
                <div class="svg">
                    <img src="../images/undraw_warning_re_eoyh.svg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section id="sec4">
        <div class="container__cover">
            <div class="cover">
                <div class="text">
                <h1 class="text2">Valores de 
                    <br> la Empresa:</h1>
                <div class="text">
                   <h2> <p>1. Responsabilidad.
                    <br>
                    2.	Lealtad.
                    <br>
                    3.	Respeto.
                    <br>
                    4.	Honestidad.
                    <br>
                    5.	Compromiso.
                    <br>
                    6.	Confianza.
                    <br>
                    7.	Calidad.
                    <br>
                    8.	Orden.
                    <br>
                    9.	Perseverancia.
                    <br>
10.	Trabajo en Equipo.
<br>
11.	Sentido de Pertenencia.

                    </p>
                    </h2>
                    <br>
                    <a class="btn" href="#sec1" > Volver</a>
                    <!-- <input type="button" value="Leer Más"> -->
                </div>
            </div>

                <div class="svg">
                    <img src="../icons/fa-removebg-preview.png" alt="">
                </div>
            </div>
        </div>
    </section>
    </main>
   
    <footer class="footer"> 
        <iframe class="iframe" src="../view/footer.html"></iframe>
    </footer>
    <script src="../js/script.js"></script>
</body>

</html>