<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SURTIDORA/ESTRENO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Mooli&family=Poppins:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
  <body class="section">
    <header>
      <div class="container__menu">
        <div class="logo">
          <img src="../icons/LOGO- SURTIDORA ESTRENO.png" alt="" />
        </div>
        <div class="menu">
          <i class="fas fa-bars" id="btn_menu"></i>
          <div id="back_menu"></div>
          <nav id="nav">
            <img src="../icons/LOGO- SURTIDORA ESTRENO.png" alt="" />

            <ul>
              <li><a href="../index.html" >Inicio</a></li>
              <li><a href="../view/Mision.html">¡Conocenos!</a></li>
              <!-- <li><a href="../view/Vision.html">Vision</a></li> -->
              <li><a href="../view/Induccion.html">Induccion</a></li>
              <li><a href="../view/Psicologia.html" id="selected">Psicologia</a></li>
              <li><a href="../view/trabajador.html">Conmemoracion</a></li>
              <li><a href="#">Pruebas</a>
                <ul>
                  <li > <a href="../view/encuesta.html" target="_blank"> ENCUESTA</a></li>
                  <li > <a href="../view/actatemario.html" target="_blank"> ACTA DE TEMARIO</a></li>
                  <li > <a href="../view/Evaluacion.html" target="_blank"> EVALUACION</a></li>
                  <li ><a href="../view/Procedimiento.html" target="_blank">PROCEDIMIENTO TALENTO HUMANO</a></li>

              </ul>
              </li>     
              <li><a href="../view/Contacto.html">Contactos</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>





    <main>

      <section id="sec1">

        <div class="container__cover">
          <div class="cover">

            <div class="text">
               <h1>AMOR Y AMISTAD
              </h1>

              <h2>
                <p >
                  Grupo de oficina
                  El amor y la amistad  son regalos valioso que debemos de cultivar y guardar como tesoros preciados❤️ Feliz dia!(Samaria)
                  <br>
                 <a class="btn" href="#sec2"> Siguiente</a>
                </p>
              </h2>




            </div>
            <iframe class="cartica" src="../view/cara copy 2.html" ></iframe>
            <div class="svg"></div>
              <!-- <img src="../images/foto3.jpeg">
              <div class="svg"><img src="../images/foto2.jpeg">  </div>
              <div class="svg"><img src="../imagesfoto1.jpeg"></div>
              <div class="svg"> -->
              
                          
              
              

          
          </div>

          </div>

        </div>
      </section>

      <section id="sec2">

        <div class="container__cover">
          <div class="cover">

            <div class="text">
               <h1>AMOR Y AMISTAD
              </h1>

              <h2>
                <p >
                  Grupo de oficina Valery
                  El amor y la amistad  son regalos valioso que debemos de cultivar y guardar como tesoros preciados❤️ Feliz dia!(Barranquilla)
                  <br>
                 <a class="btn" href="#sec3"> Siguiente</a>
                </p>
              </h2>




            </div>
            <iframe class="cartica" src="../view/cara copy.html" ></iframe>
            <div class="svg">
              <!-- <img src="../images/foto5.jpeg"> -->
              <!-- <img src="../images/../images/foto2.jpeg">              
              <img src="../imagesfoto1.jpeg">
               -->

          </div>
          </div>

          </div>

        </div>
      </section>

      <section id="sec3">

        <div class="container__cover">
          <div class="cover">

            <div class="text">
               <h1>MAÑANAS MOTIVACIONAL (GRUPO VALLEDUPAR)
              </h1>
             <h2>

              <p >
           
                El trabajo en equipo nos ayuda con el cumplimiento de objetivos, incrementa la motivacion y la creatividad
                <br>
               <a class="btn" href="#sec4"> Siguiente</a>
              </p>
            </h2>





            </div>
            <div class="video">
            <video width="600" height="300" muted controls>
              <source src="../videos/video3.mp4" type="video/mp4">
            </video>
          </div>
          </div>
            <div class="svg">
              <!-- <img src="../images/foto3.jpeg">
             -->
              <!-- <img src="../images/../images/foto2.jpeg">              
              <img src="../imagesfoto1.jpeg">
               -->

          </div>
        
          </div>

          </div>

        </div>
      </section>


      <section id="sec4">

        <div class="container__cover">
          <div class="cover">

            <div class="text">
               <h1>MAÑANAS MOTIVACIONAL (GRUPO ESTRENO)
              </h1>

              <h2>
                <p >
                  Trabajo en equipo 
                  El trabajo en equipo nos ayuda con el cumplimiento de objetivos, incrementa la motivacion y la creatividad
                  <br>
                 <a class="btn" href="#sec5"> Siguiente</a>
                </p>
              </h2>




            </div>
            <div class="video">
            <video width="600" height="300" muted controls>
              <source src="../videos/video2.mp4" type="video/mp4">
            </video>
            </div>
          </div>
            <div class="svg">
              <!-- <img src="../images/foto3.jpeg">
             -->
              <!-- <img src="../images/../images/foto2.jpeg">              
              <img src="../imagesfoto1.jpeg">
               -->

          </div>
        
          </div>

          </div>

        </div>
      </section>


      <section id="sec5">

        <div class="container__cover">
          <div class="cover">

            <div class="text">
               <h1>MAÑANAS MOTIVACIONAL (SURTIDORA 3)
              </h1>

              <h2>
                <p >
                  La importancia de la comunicacion asertiva en el trabajo  es evitar malos entendidos entre los colaboradores de la organizacion y busca propiciar el ambiente adecuado para que expresen sus opiniones e ideas de forma correcta.
                  <br>
                 <a class="btn" href="#sec6"> Siguiente</a>
                </p>
              </h2>




            </div>
            <div class="video">
            <video width="600" height="300" muted controls>
              <source src="../videos/video1.mp4" type="video/mp4">
            </video>
            </div>
          </div>
            <div class="svg">
              <!-- <img src="../images/foto3.jpeg">
             -->
              <!-- <img src="../images/../images/foto2.jpeg">              
              <img src="../imagesfoto1.jpeg">
               -->

          </div>
        
          </div>

          </div>

        </div>
      </section>

      
      <section id="sec6">

        <div class="container__cover">
          <div class="cover">

            <div class="text">
               <h1>Desayuno colectivo con el grupo de Galapa
              </h1>

              <h2>
                <p >
                  Compartir una comida juntos crea un espacio informal donde los compañeros pueden conocerse mejor, fortalecer la confianza y desarrollar conexiones más sólidas.
                  <br>
                 <a class="btn" href="#sec7"> Siguiente</a>
                </p>
              </h2>




            </div>
            <!-- <iframe class="cartica" src="../view/cara copy.html" ></iframe> -->
            <div class="svg">
              <img src="../images/foto7.jpeg">
              <!-- <img src="../images/../images/foto2.jpeg">              
              <img src="../imagesfoto1.jpeg">
               -->

          </div>
          </div>

          </div>

        </div>
      </section>

      
      <section id="sec7">

        <div class="container__cover">
          <div class="cover">

            <div class="text">
               <h1>Desayuno colectivo con el grupo de Fonseca
              </h1>

              <h2>
                <p >
                  Compartir una comida juntos crea un espacio informal donde los compañeros pueden conocerse mejor, fortalecer la confianza y desarrollar conexiones más sólidas.
                  <br>
                 <a class="btn" href="#sec8"> Siguiente</a>
                </p>
              </h2>




            </div>
            <iframe class="cartica" src="../view/cara copy 4.html" ></iframe>
            <div class="svg">
              <!-- <img src="../images/foto5.jpeg"> -->
              <!-- <img src="../images/../images/foto2.jpeg">              
              <img src="../imagesfoto1.jpeg">
               -->

          </div>
          </div>

          </div>

        </div>
      </section>

      
      <section id="sec8">

        <div class="container__cover">
          <div class="cover">

            <div class="text">
               <h1>Desayuno colectivo grupo Estreno paseo Bolivar
              </h1>

              <h2>
                <p >
                  Compartir una comida juntos crea un espacio informal donde los compañeros pueden conocerse mejor, fortalecer la confianza y desarrollar conexiones más sólidas.
                  <br>
                 <a class="btn" href="#sec9"> Siguiente</a>
                </p>
              </h2>




            </div>
            <iframe class="cartica" src="../view/cara copy 5.html" ></iframe>
            <div class="svg">
              <!-- <img src="../images/foto5.jpeg"> -->
              <!-- <img src="../images/../images/foto2.jpeg">              
              <img src="../imagesfoto1.jpeg">
               -->

          </div>
          </div>

          </div>

        </div>
      </section>


      <section id="sec9">

      <div class="container__cover">
        <div class="cover">

          <div class="text">
             <h1>EMPATIA
            </h1>

            <h2>
              <p >
                <!-- •Reparte las tareas domesticas y el cuidado de niños.
                <br>
                •Contrata diversidad de personas.
                 <br>
                •Paga y exige salarios para cargos iguales.
                <br>
                •Tolerancia cero ante el acoso sexual.
                <br>
                •Desafía los estándares de belleza.
                <br> -->
               <a class="btn" href="#sec1"> Volver</a>
              </p>
            </h2>




          </div>

          <div class="svg">
            <img src="../images/foto6.jpeg">
        </div>
        </div>

        </div>

      </div>
    </section>
    </main>


     <footer class="footer">
        <iframe class="iframe" src="../view/footer.html"></iframe>

      </footer>
      <script src="../js/script.js"></script>

  </body>>


</html>
