<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style copy 2.css">
</head>
<body>
    <table id="miTabla" class="tabla-desktop">
        <tr>
            <th>N°</th>
            <th>ACTIVIDAD</th>
            <th>RESPONSABLE</th>
            <th>DESCRIPCION DE LA ACTIVIDAD</th>
        </tr>
       
        <tr>
            <th>1</th>
            <th>Notificar el accidente de trabajo
            </th>
            <th>Trabajador</th>
            <th>El  empleado que sufrió el accidente de trabajo debe notificarlo al Jefe Directo y/o delegado inmediatamente se presente.
            </th>
        </tr>
        <tr>
            <th>2</th>
            <th>Valorar el accidente de trabajo
            </th>
            <th>Brigadista
            </th>
            <th>El brigadista realiza atención de primeros auxilios antes de remitirlo a la IPS correspondiente.              
            </th>
        </tr>
        <tr>
            <th>3</th>
            <th>Reportar el accidente de trabajo a la línea de atención ARL POSITIVA
            </th>
            <th>seguridad y salud en el trabajo
            </th>
            <th>Reportar a la línea de atención ARL POSITIVA 6823602, el presunto accidente de trabajo y solicita la autorización de atención o direccionamiento médico del accidentado.
            </th>
        </tr>
        <tr>
            <th>4</th>
            <th>Atención y prestación de servicios asistenciales
            </th>
            <th>IPS - ARL
            </th>
            <th>El  empleado que sufrió el presunto accidente de trabajo es atendido en la IPS autorizada por la línea de atención.
            </th>
        </tr>
        <tr>
            <th>5</th>
            <th>Diligenciar el FURAT
            </th>
            <th>Responsable de seguridad y salud en el trabajo
            </th>
            <th>El jefe directo y/o delegado  reporta inmediatamente a seguridad y salud en el trabajo el presunto  accidente de trabajo para  el diligenciamiento del  FURAT antes de 48 horas posteriores al evento.
              Una vez diligenciado el FURAT a través de servicios en línea, se debe imprimir el documento y enviarlo a la ARL SURA y a la EPS correspondiente.
              </th>
        </tr>
        <tr>
            <th>6</th>
            <th>Investigación accidente de trabajo
            </th>
            <th>Equipo investigador
            </th>
            <th>Realizar la investigación y análisis del incidente.
            </th>
        </tr>
    </table>

    <div class="tabla-mobile">
        <div class="fila">
        <div class="columna">
        <div class="header">N°</div>
        <div class="contenido">1</div>
      </div>
      <div class="columna">
        <div class="header">ACTIVIDAD</div>
        <div class="contenido">Notificar el accidente de trabajo</div>
      </div>
      <div class="columna">
        <div class="header">RESPONSABLE</div>
        <div class="contenido">Trabajador</div>
      </div>
      <div class="columna">
        <div class="header">DESCRIPCION DE LA ACTIVIDAD</div>
        <div class="contenido">El  empleado que sufrió el accidente de trabajo debe notificarlo al Jefe Directo y/o delegado inmediatamente se presente.</div>
      </div>
    </div>

    <div class="fila">
        <div class="columna">
        <div class="header">N°</div>
        <div class="contenido">2</div>
      </div>
      <div class="columna">
        <div class="header">ACTIVIDAD</div>
        <div class="contenido">Valorar el accidente de trabajo</div>
      </div>
      <div class="columna">
        <div class="header">RESPONSABLE</div>
        <div class="contenido">Brigadista</div>
      </div>
      <div class="columna">
        <div class="header">DESCRIPCION DE LA ACTIVIDAD</div>
        <div class="contenido">El brigadista realiza atención de primeros auxilios antes de remitirlo a la IPS correspondiente.  </div>
      </div>
    </div>

    <div class="fila">
        <div class="columna">
        <div class="header">N°</div>
        <div class="contenido">3</div>
      </div>
      <div class="columna">
        <div class="header">ACTIVIDAD</div>
        <div class="contenido">Reportar el accidente de trabajo a la línea de atención ARL POSITIVA</div>
      </div>
      <div class="columna">
        <div class="header">RESPONSABLE</div>
        <div class="contenido">seguridad y salud en el trabajo</div>
      </div>
      <div class="columna">
        <div class="header">DESCRIPCION DE LA ACTIVIDAD</div>
        <div class="contenido">Reportar a la línea de atención ARL POSITIVA 6823602, el presunto accidente de trabajo y solicita la autorización de atención o direccionamiento médico del accidentado.</div>
      </div>
    </div>

    <div class="fila">
        <div class="columna">
        <div class="header">N°</div>
        <div class="contenido">4</div>
      </div>
      <div class="columna">
        <div class="header">ACTIVIDAD</div>
        <div class="contenido">Atención y prestación de servicios asistenciales</div>
      </div>
      <div class="columna">
        <div class="header">RESPONSABLE</div>
        <div class="contenido">IPS - ARL</div>
      </div>
      <div class="columna">
        <div class="header">DESCRIPCION DE LA ACTIVIDAD</div>
        <div class="contenido">El  empleado que sufrió el presunto accidente de trabajo es atendido en la IPS autorizada por la línea de atención.</div>
      </div>
    </div>

    <div class="fila">
        <div class="columna">
        <div class="header">N°</div>
        <div class="contenido">5</div>
      </div>
      <div class="columna">
        <div class="header">ACTIVIDAD</div>
        <div class="contenido">Diligenciar el FURAT</div>
      </div>
      <div class="columna">
        <div class="header">RESPONSABLE</div>
        <div class="contenido">Responsable de seguridad y salud en el trabajo</div>
      </div>
      <div class="columna">
        <div class="header">DESCRIPCION DE LA ACTIVIDAD</div>
        <div class="contenido">El jefe directo y/o delegado  reporta inmediatamente a seguridad y salud en el trabajo el presunto  accidente de trabajo para  el diligenciamiento del  FURAT antes de 48 horas posteriores al evento.
            Una vez diligenciado el FURAT a través de servicios en línea, se debe imprimir el documento y enviarlo a la ARL SURA y a la EPS correspondiente.</div>
      </div>
    </div>

    <div class="fila">
        <div class="columna">
        <div class="header">N°</div>
        <div class="contenido">6</div>
      </div>
      <div class="columna">
        <div class="header">ACTIVIDAD</div>
        <div class="contenido">Investigación accidente de trabajo</div>
      </div>
      <div class="columna">
        <div class="header">RESPONSABLE</div>
        <div class="contenido">Equipo investigador</div>
      </div>
      <div class="columna">
        <div class="header">DESCRIPCION DE LA ACTIVIDAD</div>
        <div class="contenido">Realizar la investigación y análisis del incidente.</div>
      </div>
    </div>
</div>
</body>
</html>