<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Mooli&family=Poppins:wght@500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SURTIDORA/ESTRENO</title>

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    
    <header>

        <div class="container__menu">
            <div class="logo">
              <img src="../icons/LOGO- SURTIDORA ESTRENO.png" alt=""> 
            </div>  
            <div class="menu">
                <i class="fas fa-bars" id="btn_menu"></i>
                <div id="back_menu"></div>
                <nav id="nav">
                    <img src="../icons/LOGO- SURTIDORA ESTRENO.png" alt=""> 
                    <ul>
                        <li><a href="../index.html" >Inicio</a></li>
                        <li><a href="../view/Mision.html">¡Conocenos!</a></li>
                        <!-- <li><a href="../view/Vision.html">Vision</a></li> -->
                        <li><a href="./Induccion.html">Induccion</a></li>
                        <li><a href="../view/Psicologia.html">Psicologia</a></li>
                        <li><a href="./trabajador.html" id="selected">Conmemoracion</a></li>
                        <li><a href="#">Pruebas</a>
                          <ul>
                            <li > <a href="../view/encuesta.html" target="_blank"> ENCUESTA</a></li>
                            <li > <a href="../view/actatemario.html" target="_blank"> ACTA DE TEMARIO</a></li>
                            <li > <a href="../view/Evaluacion.html" target="_blank"> EVALUACION</a></li>
                  <li ><a href="../view/Procedimiento.html" target="_blank">PROCEDIMIENTO TALENTO HUMANO</a></li>

                        </ul>
                        </li>   
                        <li><a href="../view/Contacto.html">Contactos</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </header>

    <main>
      <div class="container__cover">
        <div class="cover">
          <h1 class="text2">Empleado
            <br> Del Mes</h1>
          <div class="text1">
          
            <!-- <h2>     
              <p >
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus sint a quisquam beatae quibusdam recusandae mollitia quos perspiciatis atque minima voluptates at illum quis aliquam soluta, libero consequuntur. Possimus, fuga!
              </p>
            </h2> -->
      
          

            
          </div>
          <!-- <iframe class="cartica" src="../view/cara copy 2.html" ></iframe> -->
          <!-- <iframe class="cartica" src="../view/cara copy 3.html" ></iframe> -->
        </div>
      
        </div> 
      
      </div>


    <footer class="footer"> 
        <iframe class="iframe" src="./footer.html"></iframe>
    </footer>

    <script src="../js/script.js"></script>
</body>
</html>